/comp2003_application/comp2003_application/bin
/comp2003_application/.vs/comp2003_application/FileContentIndex
/comp2003_application/comp2003_application/obj
/comp2003_application/.vs/comp2003_application
/comp2003_application/.vs

/comp2003 avalonia/comp2003 avaloina/bin
/comp2003 avalonia/comp2003 avaloina/obj
/comp2003 avalonia/.vs
/comp2003 avalonia/comp2003 avaloina.Desktop/bin
/comp2003 avalonia/comp2003 avaloina.Desktop/obj